deployment/step_functions/steps-carve-discovery.json
{
  "Comment": "Carve Network Discovery",
  "StartAt": "StartDiscovery",
  "States": {
    "StartDiscovery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CarveFunction}",
        "Payload": {
          "DiscoveryAction": "StartDiscovery"
        }
      },
      "Next": "ConcurrentAccountDiscovery",
      "TimeoutSeconds": 30
    },
    "ConcurrentAccountDiscovery": {
      "Type": "Map",
      "Next": "OrganizeDiscovery",
      "MaxConcurrency": 0,
      "ItemsPath": "$.Payload",
      "Iterator": {
        "StartAt": "DiscoverAccount",
        "States": {
          "DiscoverAccount": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultSelector": {
              "Payload.$": "$.Payload"
            },
            "Parameters": {
              "FunctionName": "${CarveFunction}",
              "Payload": {
                "DiscoveryAction": "DiscoverAccount",
                "Input.$": "$"
              }
            },
            "End": true,
            "TimeoutSeconds": 60
          }
        }
      }
    },
    "OrganizeDiscovery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CarveFunction}",
        "Payload": {
          "DiscoveryAction": "OrganizeDiscovery",
          "Input.$": "$"
        }
      },
      "End": true,
      "TimeoutSeconds": 300
    }
  }
}