deployment/step_functions/steps-carve-cleanup.json
{
  "Comment": "Cleanup Carve endpoint stacks",
  "StartAt": "CleanupDeployments",
  "States": {
    "CleanupDeployments": {
      "Type": "Task",
      "Resource":"${CarveFunction}",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($)"
      },
      "Parameters": {
        "Payload": {
          "CleanupAction": "CleanupDeployments"
        }
      },
      "Next": "DiscoverCarveStacksIterator",
      "TimeoutSeconds": 900
    },
    "DiscoverCarveStacksIterator": {
      "Type": "Map",
      "Next": "OrganizeDeletions",
      "MaxConcurrency": 100,
      "ItemsPath": "$.Payload",
      "Iterator": {
        "StartAt": "DiscoverCarveStacks",
        "States": {
          "DiscoverCarveStacks": {
            "Type": "Task",
            "Resource":"${CarveFunction}",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($)"
            },
            "Parameters": {
              "Payload": {
                "CleanupAction": "DiscoverCarveStacks",
                "Input.$": "$"
              }
            },
            "End": true,
            "TimeoutSeconds": 60
          }
        }
      }
    },
    "OrganizeDeletions": {
      "Type": "Task",
      "Resource":"${CarveFunction}",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($)"
      },
      "Parameters": {
        "Payload": {
          "CleanupAction": "OrganizeDeletions",
          "Input.$": "$"
        }
      },
      "Next": "DeleteStacksIterator",
      "TimeoutSeconds": 20
    },
    "DeleteStacksIterator": {
      "Type": "Map",
      "End": true,
      "MaxConcurrency": 0,
      "ItemsPath": "$.Payload",
      "Iterator": {
        "StartAt": "DeleteStack",
        "States": {
          "DeleteStack": {
            "Type": "Task",
            "Resource":"${CarveFunction}",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($)"
            },
            "Parameters": {
              "Payload": {
                "CleanupAction": "DeleteStack",
                "Input.$": "$"
              }
            },
            "Next": "DescribeDeleteStack",
            "TimeoutSeconds": 20
          },
          "DescribeDeleteStack": {
            "Type": "Task",
            "Resource":"${CarveFunction}",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($)"
            },
            "Parameters": {
              "Payload": {
                "CleanupAction": "DescribeDeleteStack",
                "Input.$": "$"
              }
            },
            "Next": "DeleteStackStatusChoice",
            "TimeoutSeconds": 30
          },
          "DeleteStackWait": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "DescribeDeleteStack"
          },
          "DeleteFailure": {
            "Type": "Fail"
          },
          "DeleteSucceed": {
            "Type": "Succeed"
          },
          "DeleteStackStatusChoice": {
            "Type": "Choice",
            "InputPath": "$.Payload",
            "Choices": [
              {
                "Variable": "$.StackStatus",
                "StringEquals": "DELETE_COMPLETE",
                "Next": "DeleteSucceed"
              },
              {
                "Or": [
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_PENDING"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_IN_PROGRESS"
                  }
                ],
                "Next": "DeleteStackWait"
              },
              {
                "Or": [
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_COMPLETE"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_IN_PROGRESS"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_PENDING"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_FAILED"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "FAILED"
                  }
                ],
                "Next": "DeleteFailure"
              }
            ]
          }
        }
      }
    }
  }
}
