deployment/step_functions/steps-carve-deploy-beacons.json
{
  "Comment": "Create Carve Beacon Stacks",
  "StartAt": "DeployS3BucketStacks",
  "States": {
    "DeployS3BucketStacks": {
      "Comment": "Create S3 Buckets in each region for deployments",
      "Type": "Task",
      "Next": "BeaconDeployPrep",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Input)"
      },
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "${CarveDeployStacksStepFunction}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "Input.$": "$",
        }
      }
    },
    "BeaconDeployPrep": {
      "Type": "Task",
      "Resource":"arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Payload)"
      },
      "Parameters": {
        "FunctionName": "${CarveFunction}",
        "Payload": {
          "DeployAction": "BeaconDeployPrep",
          "Input.$": "$"
        }
      },
      "Next": "DeployCarveLayers",
      "TimeoutSeconds": 900
    },
    "DeployCarveLayers": {
      "Comment": "Create one Carve layer per region",
      "Type": "Task",
      "Next": "GetDeploymentList",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "${CarveDeployStacksStepFunction}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "Input.$": "$.Payload"
        }
      }
    },
    "GetDeploymentList": {
      "Type": "Task",
      "Resource":"arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Payload)"
      },
      "Parameters": {
        "FunctionName": "${CarveFunction}",
        "Payload": {
          "DeployAction": "GetDeploymentList"
        }
      },
      "Next": "DeployCarveBeacons",
      "TimeoutSeconds": 900
    },
    "DeployCarveBeacons": {
      "Comment": "Create one Carve stack per VPC",
      "Type": "Task",
      "Next": "CleanupCarveBeacons",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "${CarveDeployStacksStepFunction}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "Input.$": "$.Payload"
        }
      }
    },
    "CleanupCarveBeacons": {
      "Comment": "Create one Carve stack per VPC",
      "Type": "Task",
      "Next": "CreateSubscriptions",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "${CarveCleanupStepFunction}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      }
    },
    "CreateSubscriptions": {
      "Type": "Task",
      "Resource":"arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Payload)"
      },
      "Parameters": {
        "FunctionName": "${CarveFunction}",
        "Payload": {
          "DeployAction": "CreateSubscriptions"
        }
      },
      "Next": "DeploySubscriptions",
      "TimeoutSeconds": 900
    },
    "DeploySubscriptions": {
      "Comment": "Deploy stack with SNS subscriptions",
      "Type": "Task",
      "Next": "DeploymentComplete",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "${CarveDeployStacksStepFunction}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "Input.$": "$.Payload"
        }
      }
    },
    "DeploymentComplete": {
      "Comment": "Perform final tasks",
      "Type": "Task",
      "Resource":"arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Payload)"
      },
      "Parameters": {
        "FunctionName": "${CarveFunction}",
        "Payload": {
          "DeployAction": "DeploymentComplete",
          "Input.$": "$"
        }
      },
      "End": true,
      "TimeoutSeconds": 900
    },
  }
}
