deployment/step_functions/steps-carve-deploy-stacks.json
{
  "Comment": "Deploy Carve CloudFormation Stacks",
  "StartAt": "CreateStackIterator",
  "States": {
    "CreateStackIterator": {
      "Type": "Map",
      "End": true,
      "MaxConcurrency": 0,
      "InputPath": "$.Input",
      "Iterator": {
        "StartAt": "CreateStack",
        "States": {
          "CreateStack": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($.Payload)"
            },
            "Parameters": {
              "FunctionName": "${CarveFunction}",
              "Payload": {
                "DeployStack": "CreateStack",
                "Input.$": "$"
              }
            },
            "Next": "DescribeStackCreation",
            "TimeoutSeconds": 20
          },
          "DescribeStackCreation": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($.Payload)"
            },
            "Parameters": {
              "FunctionName": "${CarveFunction}",
              "Payload": {
                "DeployStack": "DescribeStack",
                "Input.$": "$"
              }
            },
            "Next": "CreateStackStatusChoice",
            "TimeoutSeconds": 30
          },
          "DescribeStackWait": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "DescribeStackCreation"
          },
          "Failure": {
            "Type": "Fail"
          },
          "Succeed": {
            "Type": "Succeed"
          },
          "CreateStackStatusChoice": {
            "Type": "Choice",
            "InputPath": "$.Payload",
            "Choices": [
              {
                "Or": [
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_COMPLETE"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "UPDATE_COMPLETE"
                  }
                ],
                "Next": "CreateChangeSet"
              },
              {
                "Or": [
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_PENDING"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_IN_PROGRESS"
                  }
                ],
                "Next": "DescribeStackWait"
              },
              {
                "Or": [
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_PENDING"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_IN_PROGRESS"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_COMPLETE"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_FAILED"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "FAILED"
                  }
                ],
                "Next": "Failure"
              }
            ]
          },
          "CreateChangeSet": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($.Payload)"
            },
            "Parameters": {
              "FunctionName": "${CarveFunction}",
              "Payload": {
                "DeployStack": "CreateChangeSet",
                "Input.$": "$"
              }
            },
            "Next": "DescribeChangeSet",
            "TimeoutSeconds": 20
          },
          "DescribeChangeSet": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($.Payload)"
            },
            "Parameters": {
              "FunctionName": "${CarveFunction}",
              "Payload": {
                "DeployStack": "DescribeChangeSet",
                "Input.$": "$"
              }
            },
            "Next": "CreateChangeSetChoice",
            "TimeoutSeconds": 30
          },
          "CreateChangeSetChoice": {
            "Type": "Choice",
            "InputPath": "$.Payload",
            "Choices": [
              {
                "Variable": "$.DescribeChangeSet",
                "StringEquals": "CREATE_COMPLETE",
                "Next": "ExecuteChangeSet"
              },
              {
                "Or": [
                  {
                    "Variable": "$.DescribeChangeSet",
                    "StringEquals": "CREATE_PENDING"
                  },
                  {
                    "Variable": "$.DescribeChangeSet",
                    "StringEquals": "CREATE_IN_PROGRESS"
                  }
                ],
                "Next": "CreateChangeSetWait"
              },
              {
                "Or": [
                  {
                    "Variable": "$.DescribeChangeSet",
                    "StringEquals": "DELETE_PENDING"
                  },
                  {
                    "Variable": "$.DescribeChangeSet",
                    "StringEquals": "DELETE_IN_PROGRESS"
                  },
                  {
                    "Variable": "$.DescribeChangeSet",
                    "StringEquals": "DELETE_COMPLETE"
                  },
                  {
                    "Variable": "$.DescribeChangeSet",
                    "StringEquals": "DELETE_FAILED"
                  },
                  {
                    "Variable": "$.DescribeChangeSet",
                    "StringEquals": "FAILED"
                  }
                ],
                "Next": "Failure"
              }
            ]
          },
          "CreateChangeSetWait": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "DescribeChangeSet"
          },
          "ExecuteChangeSet": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($.Payload)"
            },
            "Parameters": {
              "FunctionName": "${CarveFunction}",
              "Payload": {
                "DeployStack": "ExecuteChangeSet",
                "Input.$": "$"
              }
            },
            "Next": "DescribeChangeSetExecution",
            "TimeoutSeconds": 30
          },
          "DescribeChangeSetExecution": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($.Payload)"
            },
            "Parameters": {
              "FunctionName": "${CarveFunction}",
              "Payload": {
                "DeployStack": "DescribeChangeSetExecution",
                "Input.$": "$"
              }
            },
            "Next": "ExecuteChangeSetChoice",
            "TimeoutSeconds": 30
          },
          "ExecuteChangeSetWait": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "DescribeChangeSetExecution"
          },
          "ExecuteChangeSetChoice": {
            "Type": "Choice",
            "InputPath": "$.Payload",
            "Choices": [
              {
                "Variable": "$.DescribeChangeSetExecution",
                "StringEquals": "EXECUTE_COMPLETE",
                "Next": "Succeed"
              },
              {
                "Or": [
                  {
                    "Variable": "$.DescribeChangeSetExecution",
                    "StringEquals": "AVAILABLE"
                  },
                  {
                    "Variable": "$.DescribeChangeSetExecution",
                    "StringEquals": "EXECUTE_IN_PROGRESS"
                  }
                ],
                "Next": "ExecuteChangeSetWait"
              },
              {
                "Or": [
                  {
                    "Variable": "$.DescribeChangeSetExecution",
                    "StringEquals": "UNAVAILABLE"
                  },
                  {
                    "Variable": "$.DescribeChangeSetExecution",
                    "StringEquals": "EXECUTE_FAILED"
                  },
                  {
                    "Variable": "$.DescribeChangeSetExecution",
                    "StringEquals": "OBSOLETE"
                  }
                ],
                "Next": "Failure"
              }
            ]
          }
        }
      }
    }
  }
}