deployment/step-functions/steps-carve-scale.json
{
  "Comment": "ScaleASGs",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FunctionSfScaleInitialize}",
        "Payload": {
          "Input.$": "$"
        }
      },
      "Next": "ConcurrentScaling",
      "TimeoutSeconds": 120
    },
    "ConcurrentScaling": {
      "Type": "Map",
      "End": true,
      "MaxConcurrency": 100,
      "ItemsPath": "$.asgs",
      "Parameters": {
        "scale.$": "$.scale",
        "asg.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "ScaleASG",
        "States": {

          "ScaleASG": {
            "Type": "Task",
            "Resource":"${FunctionSfScaleUpdateAsg}",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($)"
            },
            "Next": "CheckASG",
            "TimeoutSeconds": 20
          },

          "CheckASG": {
            "Type": "Task",
            "Resource":"${FunctionSfScaleCheckAsg}",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($)"
            },
            "Parameters": {
              "Payload": {
                "Input.$": "$"
              }
            },
            "Next": "ASGChoice",
            "TimeoutSeconds": 30
          },

          "ASGWait": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "CheckASG"
          },

          "ASGFailure": {
            "Type": "Fail"
          },

          "ASGSucceed": {
            "Type": "Succeed"
          },

          "ASGChoice": {
            "Type": "Choice",
            "InputPath": "$.Payload",
            "Choices": [
              {
                "Variable": "$.ASGStatus",
                "StringEquals": "SCALE_COMPLETE",
                "Next": "ASGSucceed"
              },
              {
                "Variable": "$.ASGStatus",
                "StringEquals": "SCALE_IN_PROGRESS",
                "Next": "ASGWait"
              },
              {
                "Variable": "$.ASGStatus",
                "StringEquals": "SCALE_FAILED",
                "Next": "ASGFailure"
              }
            ]
          }
        }
      }
    }
  }
}
