deployment/step-functions/steps-carve-scale.json
{
  "Comment": "ScaleASGs",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${StepScaleInitialize}",
        "Payload": {
          "Input.$": "$"
        }
      },
      "Next": "ConcurrentScaling",
      "TimeoutSeconds": 120
    },
    "ConcurrentScaling": {
      "Type": "Map",
      "End": true,
      "MaxConcurrency": 100,
      "ItemsPath": "$",
      "Iterator": {
        "StartAt": "ScaleASG",
        "States": {

          "DeleteStack": {
            "Type": "Task",
            "Resource":"${CarveFunction}",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($)"
            },
            "Parameters": {
              "Payload": {
                "CleanupAction": "DeleteStack",
                "Input.$": "$"
              }
            },
            "Next": "DescribeDeleteStack",
            "TimeoutSeconds": 20
          },

          "DescribeDeleteStack": {
            "Type": "Task",
            "Resource":"${CarveFunction}",
            "ResultSelector": {
              "Payload.$": "States.StringToJson($)"
            },
            "Parameters": {
              "Payload": {
                "CleanupAction": "DescribeDeleteStack",
                "Input.$": "$"
              }
            },
            "Next": "DeleteStackStatusChoice",
            "TimeoutSeconds": 30
          },

          "DeleteStackWait": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "DescribeDeleteStack"
          },

          "DeleteFailure": {
            "Type": "Fail"
          },

          "DeleteSucceed": {
            "Type": "Succeed"
          },

          "DeleteStackStatusChoice": {
            "Type": "Choice",
            "InputPath": "$.Payload",
            "Choices": [
              {
                "Variable": "$.StackStatus",
                "StringEquals": "DELETE_COMPLETE",
                "Next": "DeleteSucceed"
              },
              {
                "Or": [
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_PENDING"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_IN_PROGRESS"
                  }
                ],
                "Next": "DeleteStackWait"
              },
              {
                "Or": [
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_COMPLETE"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_IN_PROGRESS"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "CREATE_PENDING"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "DELETE_FAILED"
                  },
                  {
                    "Variable": "$.StackStatus",
                    "StringEquals": "FAILED"
                  }
                ],
                "Next": "DeleteFailure"
              }
            ]
          }
        }
      }
    }
  }
}
